agm-map {
    height: 300px;
}
.mat-row:hover {
    background-color: #03DAC6;
}
.highlighted{
    background-color: #03DAC6;
}
.flag{
    height: 22px;
    border-style: solid;
}
.countryName{
    font-size: 1.5em;
    font-weight: bold;
}