<div fxLayout="column">
    <form [formGroup]="form" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
        <mat-form-field fxFlex="30%">
            <mat-label>Select BLOC Code</mat-label>
            <mat-select formControlName="blocCode" (selectionChange)="onChangeBloc()">
                <mat-option *ngFor="let bData of myBlocData" [value]="bData.code">
                    {{bData.name}}
                </mat-option>
            </mat-select>
            <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Select Language</mat-label>
            <mat-select formControlName="langCode" (selectionChange)="onChange()">
                <mat-option *ngFor="let langData of lang" [value]="langData.code">
                    {{langData.name}}
                </mat-option>
            </mat-select>
            <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>    
    </form>   
    <div fxLayout="row" fxLayoutGap="20px">
        <div fxLayout="column">
            <table mat-table [dataSource]="dataSource" fxFlex="30%">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Select Country</th>
                        <td mat-cell *matCellDef="let data"> {{data.name}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)" [ngClass]="{highlighted: selectedCountry.alpha2Code==row.alpha2Code}"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>        
        <div fxFlex>
            <div fxLayout="column" fxLayoutGap="20px">
                <agm-map 
                    [latitude]="lat" 
                    [longitude]="lng"
                    [zoom]="zoom">
                    <agm-marker 
                        [latitude]="lat" 
                        [longitude]="lng"
                        [label]="mylabel"
                        >
                    </agm-marker>
                </agm-map>    
                <div *ngIf="selectedCountry" fxLayout="column" fxLayoutGap="10px">
                    <div fxLayout="row" fxLayoutGap="10px">
                        <span class="countryName">{{localizedCountryName}}</span><img [src]="selectedCountry.flag" class="flag" />                        
                    </div>
                    <div fxLayout="row" flex>
                        <span fxFlex="30">Capital</span><span>{{selectedCountry.capital}}</span>
                    </div>
                    <div fxLayout="row">
                        <span fxFlex="30">Area</span><span>{{selectedCountry.area}}</span>
                    </div>
                    <div fxLayout="row">
                        <span fxFlex="30">Region</span><span>{{selectedCountry.region}}</span>
                    </div>
                    <div fxLayout="row">
                        <span fxFlex="30">Region Blocs</span><span>{{selectedBloc}}</span>
                    </div>
                </div>                                     
            </div>            
        </div>
    </div> 
</div>